body{
  overflow-x:scroll;
}
a{
  cursor:pointer;
}

.navbar-default a.navbar-brand {
  color:#4723fa;
}

.navbar-default a.navbar-brand:hover{
  color:#fb00ff;
}

nav.navbar.top-nav{
  background-color:#79b8d4;
border: thick double #4723fa;
 -webkit-box-shadow: 0px 1px 1px 0px rgb(155, 65, 155);
  -moz-box-shadow: 0px 1px 1px 0px rgb(155, 65, 155);
  box-shadow: 0px 1px 1px 0px rgb(155, 65, 155);
}

nav.navbar.top-nav #navbar ul.nav li a{
  color:#4723fa;
  font-size:18px;
   
  transition: margin-right 2s ease-in-out .5s;
}

nav.navbar.top-nav #navbar ul.nav li a:hover,nav.navbar.top-nav #navbar ul.nav li a:focus{
   color:#fb00ff;
}

header#heading-block nav.navbar-default div.navbar-header button {
  background-color:#bf00ff;
border: solid;
}

header#heading-block nav.navbar-default div.navbar-header button.collapsed{
background-color:#bf00ff;
border: solid;
}

header#heading-block nav.navbar-default div.navbar-header button span.icon-bar{
  background-color:#bf00ff;
}

/* Home section starts */

#home-section{
  background-image:url(https://i.pinimg.com/564x/7f/dd/7b/7fdd7b88e1d649e83689787b477aa8d4.jpg);
  background-repeat:no-repeat;
  width:100%;
  background-size:cover;
  background-attachment:fixed;
  position:relative;
border-bottom: thick double #32a1ce;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(65,94,155,1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(65,94,155,1);
  box-shadow: 0px 1px 1px 0px rgba(65,94,155,1);
}

.section-wrap{
  width:100%;
  background-color:rgba(52,52,54,0.4);
}

.info-block{
  padding:200px 0 200px 0;
  color:#ffffff;
  font-family: cursive;, sans-serif;
}

.info-block h1{
  font-size:60px;
}

.info-bg{
  background-color:rgba(52,52,54,0.7);
  display:inline-block;
  padding:30px 50px 30px 50px;
}


a.btn.btn-info-contact{
  margin:20px;
  border-radius:0;
  font-size:20px;
  -webkit-transition: all 0.3s ease-in-out; /* Safari */
   transition: all 0.3s ease-in-out;
  color:#ffffff;
  padding-left:22px;
}
}

a.btn.btn-info-contact.btn-facebook{
  border:px solid rgba(65,94,155,0.4);
   background-color:rgba(65,94,155,0.4);
}

a.btn.btn-info-contact.btn-facebook:hover{
   background-color:rgb(255, 153, 255);
}

a.btn.btn-info-contact.btn-youtube{
}

a.btn.btn-info-contact.btn-youtube:hover{
   background-color:rgb(255, 153, 255);
}
a.btn.btn-info-contact.btn-instagram{
 
}
a.btn.btn-info-contact.btn-instagram:hover{
   background-color:rgb(255, 153, 255);
}
a.btn.btn-info-contact.btn-pinterest{

}
a.btn.btn-info-contact.btn-pinterest:hover{
  background-color:rgb(255, 153, 255);
  
}

/* end home section */

/* about me block */

#about-me{
  background-color:rgb(0, 0, 255);
  position:relative;
  width:100%;
 border-bottom: thick double #32a1ce;
  box-shadow: 100px 100px 50px 100px rgb(255, 0, 255);
}

#about-me .about-info{
  padding:40px 0 40px 0;
  position:relative;
}

h2.head-text{
  color:#ffffff;
  display:inline-block;
  position:relative;
}

h2.head-text:before{
   position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 75%;
    height: 2px;
    bottom: 0px;
    left: 12.5%;
  display:table;
  box-sizing:border-box;
}

h2.about-section.head-text:before{
    background: rgb(255, 153, 255);
}

.my-picture-block{
  display:inline-block;
}

.my-pic-content{
  color:#ffffff;
  font-size:40px;
  display:inline-block;
}

.my-pic-content span{
  font-size:20px;
}

.my-picture-block img{
  border-radius:70%;
  border: thick double #ff99ff;
}

#about-me div.about-main-part{
  margin-top:20px;
}

#about-me div.about-text{
  float:right;
  background-color:#EFEEEC;
  padding:20px 15px 20px 15px;
  position:relative;
 font-family: Georgia, serif;
  font-size:18px;
}

#about-us .about-info div.about-text span.arrow-abs{
  position:absolute;
  left:-37px;
  font-size:120px;
  color:#EFEEEC;
  top:17px;
}

.cheers,.hi-all{
  float:right;
  font-size:22px;
 font-family: cursive;
  color:#ff66cc;
}

.hi-all{
  text-align:center;
  float:none;
}

/* End about Me  */

/* My skills */

#my-skills{
  background-color:rgb(153, 153, 255);
  position:relative;
  width:100%;
  padding:0 10 45px 0;
  color:rgb(0, 0, 255);
 border-bottom: thick double #32a1ce;
  box-shadow: 100px 100px 100px 100px rgb(255, 0, 255)
 font-family: sans-serif;
  font-size:20px;
font-weight: bold;
  text-align: center;
  outline: thick double #ff33cc;
  
}

h2.skills-section.head-text:before{
    background: #ff0066;
  margin-inline: 5% 10%;
writing-mode: horizontal-tb;
}

ul.skills-list{
  margin-top:20px;
}

ul.skills-list li{
 display:inline-block;
  margin-right:20px;
}

ul.soft-list li{
  margin-top:20px;
  display:inline-block;
  float:left;
  margin-right:20px;
}

/* End skills section */

/* Portfolio section */

#portfolio{
  background-color:rgb(153, 153, 255); 
  position:relative;
  width:100;
 
  
}

.portfolio-block{
  padding-bottom:20px;
}

h2.portfolio-section.head-text:before{
    background:#ff00ff;
}

.portfolio-item{
 padding: 1em;
  background-color:#ffffff;
  border-radius:20px;
  font-family: Verdana
  margin-top:20px;
}

.portfolio-item h2{
  color:#000000;
  font-size:25px;
}

.portfolio-item p{
  font-size:20px;
  color:#000000;
 text-align: center;
  padding:0 6px;
}

h2.p-item1:before{
  background: #F83BA3;
  bottom:-4px;
}

.portfolio-item figure{
position: static;
}

.portfolio-item figcaption{
  position:absolute;
  top:40%;
  left:40%;
  display:none;
   transition: all 0.3s ease-in-out;
  color:#fff;
  background-color:rgb(255, 153, 255);
  padding:10px 10px;
}


.portfolio-item:hover img{
  opacity:0.6;
}

.portfolio-item:hover figcaption{
  display:block;
}

h2.p-item2:before{
  background: #0F3D5B;
  bottom:-4px;
}

h2.p-item3:before{
  background: #d93636;
  bottom:-4px;
}

.social-butts li{
  display:inline-block;
  margin-right:20px;
  -webkit-transition: all 0.3s ease-in-out; /* Safari */
   transition: all 0.3s ease-in-out;
}

/* End of portfolio section */

/* Contacts section */

#contacts{
  background-color:rgb(0, 47, 128);
  position:relative;
  width:100%;
  border-bottom:2px solid rgb(3,34,48);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(65,94,155,1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(65,94,155,1);
  box-shadow: 0px 1px 1px 0px rgba(65,94,155,1);
  color:#ffffff;
  
}

#contacts h3 a{
  text-decoration: underline;
}

h2.contacts-section:before{
  background:#b700ff;
}

/* end contacts section */

/* footer */

footer{
  background-color:rgb(121, 184, 212);
  padding:20px 0 20px 0; 
}

ul.bottom-nav li{
  display:inline-block;
  margin-right:20px;
}

ul.bottom-nav li a{
  text-decoration: underline;
  font-size:16px;
  -webkit-transition: all 0.3s ease-in-out; /* Safari */
   transition: all 0.3s ease-in-out;
}

ul.bottom-nav li a:hover{
  color:#ffffff;
}

/* media rules */
